<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'about.css' %}" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
        <link rel="stylesheet" href="about.css">
      </head>
      
      <body>
        <!--Navbar-->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#"><span class="text-warning">Hire</span>wave</a>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active  mx-lg-4  " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-4 " href="#about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-lg-4 " href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-4 " href="#about">Services</a>
            </li>
           
          </ul>

        </div>
      </div>

      <a href="signup.html" class="Login-button">Start Now</a>
      
      <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <!--End Navbar-->
  <main> <!-- -----------------------------------------------company---------------------------------------------------------------- -->
        <div class="company">
          <div class="company-info">
            <span class="our">Embark on a transformative journey with <span class="text-warning">Hire</span><span class="text-success">wave</span></span>
            <br>
            <p>
              where talent and opportunity converge to redefine the hiring experience.
               Experience a transformative shift that empowers both candidates and recruiters alike.
                Join us in setting new standards and shaping the future of hiring. 
                Welcome to a bigger, bolder era of excellence with Hirewave. 
              Elevate your expectations and embrace the transformative power of talent.
            </p>
          </div>
          <div class="img">
            <img src="img/Sans titre-1.png" alt="" />
          </div>
        </div>

       
        <div class="container1">
            <div class="vision">
              <div class="vision-shape">

                    <div id="loader">
                      <svg height="80" width="160" viewBox="-20 -20 240 240">
                        <path class="ring left" d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0" fill="none" />
                        <path class="ring right" d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0" />
                      </svg>
                    </div>
              </div>

                  <div class="vision-text">
                    <h4 >Our Vision</h4>
                    <p>
                      "Fostering a workplace where individual aspirations harmonize with collective 
                      success, envisioning a future where talent and opportunity unite seamlessly."
                    </p>
                  </div>
            </div>

            <div class="mission">
              <div class="mission-shape">
                  <div class="wave-container">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                  </div>
              </div>
              <div class="mission-text">
                <h4 >Our Mission</h4>
               <p>
                "Our mission is clear: To connect exceptional talents with meaningful opportunities, 
                shaping careers, and propelling businesses to new heights through collaborative success."
               </p>
                 
              </div>
            </div>
       </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------- -->
        
        <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
        <div class="team"><span>OUR TEAM</span></div>
        <div class="container">
            <div class="card card1">
                <div class="card-image loading"><img src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
                </div>
                <div class="card-info">
                  <h3 class="card-title loading"><span>Yash <span class="yellow-surname">Falke</span></span></h3>
                  <p class="card-description loading">
                    <span class="personal-info">
                      <span class="info">Graphic Designing Head</span> <br>
                      Pursuing IT Engineering (VIT Mumbai) <br>
                      Email: <a href="mailto:'yashfalke77@gmail.com'">yashfalke77@gmail.com</a>
                    </span>
                  </p>
                  <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                          src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                    <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                        class="fab fa-instagram"></i></a>
                  </div>
                </div>
            </div>
            
          <div class="card card2">
            <div class="card-image loading"><img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Harsh <span class="yellow-surname">Sunwani</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Web Developing Head</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'harshsunwani11@gmail.com'">harshsunwani11@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
                <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="card card3">
            <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Marketing and Publicity Head</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="card card4">
            <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Marketing and Publicity Head</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>

        <!-- ----------------------------------------join us------------------------------------------ -->
        <div class="join">
            <div class="join-container">
                  <div class="join-img">
                  <img src="img/join-us.png" alt="">
                </div>
                <div class="join-text">
                  <p>Ready to elevate your career? Join our team! Explore exciting opportunities with us and be part of a collaborative
                    community dedicated to innovation and success. Your journey starts here!
                    <br> <br> <br>
                        <div class="join-buttun">
                            <a href="#">
                            <button id="join-buttun-style">Join us</button>
                          </a>
                        </div>
                  </p>
                </div>
            </div>
          
          
        </div>
    </main>
       
        <!-- ----------------------------------------footer------------------------------------------ -->
        <footer>
          <div class="content">
            <div class="top">
              <div class="logo-details">
                <span class="logo_name">Pico</span>
              </div>
              <div class="media-icons">
                <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
                <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="link-boxes">
              <ul class="box">
                <li class="link_name">Links</li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'upload' %}">Submit Photo</a></li>
      
              </ul>
              <ul class="box">
                <li class="link_name">Recommended</li>
                <li><a href="{% url 'category' 6 %}">India</a></li>
                <li><a href="{% url 'category' 5 %">Art and Culture</a></li>
                <li><a href="{% url 'category' 11 %">People</a></li>
                <li><a href="{% url 'category' 2 %">Travel</a></li>
      
              </ul>
              <ul class="box">
                <li class="link_name">Legal Info</li>
                <li><a href="{% url 'licence' %}">Licence</a></li>
                <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
      
              </ul>
              <ul class="box">
                <li class="link_name">Contact</li>
                <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
                <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
              </ul>
            </div>
          </div>
      
          <div class="bottom-details">
            <div class="bottom_text">
              <span class="copyright_text">Copyright © 2021 <a href="#">Pico.</a></span>
            </div>
          </div>
        </footer>
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------------------------------------- -->
      
      <script src="index.js"></script>
</html>