<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'Home.css' %}" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
        <link rel="stylesheet" href="Home.css">

      </head>
      
      <body>

<!-- Navbar -->
<header>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="home_img/logo.png" alt="logo">
        <span class="text-warning">Hire</span>wave
      </a>
      <div class="d-flex">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active ms-4 " aria-current="page" href="#">Home</a>
          <a class="nav-link ms-4" href="#footer">Contact</a>
          <a class="nav-link ms-4" href="#footer">Aide</a>  
        </div>
      </div>
      <a class="Login-button" href="/signing/signup.html">Start Now</a>
    </div>
  </nav>
</header>
  
  <!--End Navbar-->

     <main> <!-- -----------------------------------------------company---------------------------------------------------------------- -->
                <div class="company">

                      <div class="company-info">
                          <span >Lancez-vous dans un voyage transformateur avec <span class="text-warning">Hire</span><span class="text-success">wave</span></span>
                          <br><br>
                          <p>
                            Là où le talent et l'opportunité convergent pour redéfinir l'expérience de l'embauche.
                            Vivez un changement transformateur qui donne du pouvoir aussi bien aux candidats qu'aux recruteurs.
                            Rejoignez-nous pour établir de nouvelles normes et façonner l'avenir de l'embauche.
                            Bienvenue dans une ère plus grande et plus audacieuse de l'excellence avec Hirewave.
                            Élevez vos attentes et embrassez le pouvoir transformateur du talent.
                          </p>
                      </div>

                      <div class="img">
                        <img src="home_img/home-image.png" alt="team" />
                      </div>

                </div>

                <div class="container1">

                          <div class="vision">

                              <div class="vision-shape">

                                    <div id="loader">
                                      <svg height="80" width="160" viewBox="-20 -20 240 240">
                                        <path class="ring left" d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0" fill="none" />
                                        <path class="ring right" d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0" />
                                      </svg>
                                    </div>

                              </div>

                              <div class="vision-title">
                                <h4 >Notre Vision</h4> 
                              </div>

                              <div class="vision-text">

                                  <p>
                                    "Favoriser un lieu de travail 
                                    où les aspirations individuelles 
                                      s'harmonisent avec le succès collectif,
                                    en envisageant un avenir où le talent et l'opportunité
                                    s'unissent de manière harmonieuse."
                                  </p>

                              </div>

                          </div>

                          <div class="mission">

                              <div class="mission-shape">

                                  <div class="wave-container">
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>

                                  </div>
                              </div>

                              <div class="mission-title">
                                <h4 >Notre Mission</h4> 
                            </div>

                              <div class="mission-text">

                                <p>
                                  "Connecter des talents exceptionnels avec des opportunités 
                                  significatives, façonner des carrières et propulser les 
                                  entreprises vers de nouveaux sommets grâce à un succès collaboratif."
                                </p>
                                
                              </div>

                          </div>
                </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------- -->
        
        <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
        <div class="team"><span>NOTRE ÉQUIPE</span></div>
        <div class="container">
            <div class="card card1">
                <div class="card-image loading"><img src="home_img/Adam2.jpg" alt="" />
                </div>
                <div class="card-info">
                  <h3 class="card-title loading"><span>Adam <span class="yellow-surname">Ouahbi</span></span></h3>
                  <p class="card-description loading">
                    <span class="personal-info">
                      <span class="info">Etudiant FSTS</span> <br>
                      Pursuing IT Engineering (VIT Mumbai) <br>
                      Email: <a href="mailto:'adamwhbi08@gmail.com" class="myEmail">adamwhbi08@gmail.com</a>
                    </span>
                  </p>
                  <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                          src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                    <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                        class="fab fa-instagram"></i></a>
                  </div>
                </div>
            </div>
            
          <div class="card card2">
            <div class="card-image loading"><img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Ilyass <span class="yellow-surname">Hakim</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Etudiant FSTS</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'hakimilyass012@gmail.com" class="myEmail">hakimilyass012@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
                <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="card card3">
            <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Etudiante FSTS</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="card card4">
            <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Etudiante FSTS</span> <br>
                  Pursuing IT Engineering (VIT Mumbai) <br>
                  Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
                </span>
              </p>
              <div class="card-mediaIcons">
                <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                      src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
                <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>

        <!-- ----------------------------------------join us------------------------------------------ -->
        
        <div class="join">

          <div class="join-img">
               <img src="home_img/join_us.png" alt="">
          </div>

          <div class="join-text">
                <p>
                  "Prêt à propulser votre carrière vers de nouveaux sommets ? 
                  Rejoignez notre équipe ! Explorez des opportunités passionnantes
                  avec nous et faites partie d'une communauté collaborative
                  dédiée à l'innovation et au succès. Votre parcours commence ici !"
                  <br> <br>
                      <div class="join-buttun">
                          <a href="#">
                            <button class="join-button">
                              <span>Join us</span>
                            </button>
                        </a>
                      </div>
                </p>
          </div>
    
</div>
    </main>
    
       
        <!-- ----------------------------------------footer------------------------------------------ -->
        <footer class="footer" id="footer">

          <div class="container-fluid">

            <div class="row">

              <div class="footer-col">
                <h4>Mentions légales</h4>
                <ul>
                  <li><a href="#">Politique de confidentialité</a></li>
                  <li><a href="#">Conditions d'utilisation</a></li>
                  <li><a href="#">Plan du site</a></li>
                </ul>
              </div>
            
              <div class="footer-col">
                <h4>Aide</h4>
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Aidez-moi</a></li>
                  <li><a href="#">Signaler un problème</a></li>
                </ul>
              </div>
            
              <div class="footer-col">
                <h4>Contactez-nous</h4>
                <ul>
                  <li><a href="#">+212000000000</a></li>
                  <li><a href="#">Adresse</a></li>
                  <li><a href="#">Hirewave@gmail.com</a></li>
                </ul>
              </div>
            
              <div class="footer-col">
                <h4>Suivez-nous</h4>
            
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            
              </div>
            </div>
            

            </div>
            
          </div>
       </footer>
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------------------------------------- -->
      
      <script src="Home.js"></script>
</html>