
body{
    background-image: url(img/background.jpg);
    background-size:auto
  }

.full-container{
    display: flex;
    flex-direction:row;
    height: 100%;
    
}

.side-bar{
    height: 100%;
    width: 250px; 
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(273deg, #5d6d89, #879ac0, #c8cacd);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.side-bar a{
    color:rgb(0, 0, 0);
}
.side-bar ul {
    list-style:none;
    padding: 0;
    margin-top: 100px;
}

.side-bar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight:900;
    font-variation-settings: 'wght' 900;
   
}

.side-bar i {
    margin-right: 30px;
    font-size: x-large;

}

.side-bar i:hover{
  border-radius: 5px;
  padding:3px;
  background-color: #5d6d89;
}

.nav-side-header{
    text-align: center;
}
  

.Acceuil{
    padding-left: 11px;
    margin-right: 10px;
    border-radius: 10px;
}

.Gerer-candidats{
    padding-left: 11px;
    margin-right: 10px;
    border-radius: 10px;
}

.offre-emploi{
    padding-left: 11px;
    margin-right: 10px;
    border-radius: 10px; 
}

.deposer-cv{
    padding-left: 12px;
    margin-right: 10px;
    border-radius: 10px; 
   
}
.messages{
    padding-left: 12px;
    margin-right: 10px;
    border-radius: 10px; 
   
}
.dashboard{
    padding-left: 12px;
    margin-right: 10px;
    border-radius: 10px; 
   
}


.sign-out{
    padding-top: 200px;
    padding-left: 20px;
    margin-right: 10px;
    border-radius: 10px; 
}


/*profile*/
.profile-side{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   
}
.body-profil{
    display: flex;
    flex-direction: row;
}

.header-profil{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 45px;
}
.header-profil h1{
    font-size:40px;
    text-indent: 90px;
    background: rgb(35,219,164);
    background: linear-gradient(81deg, rgba(35,219,164,1) 0%, rgba(68,68,68,1) 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	width: 100%;
    text-align: center;
}

.job-interview img{
     width :500px;
     height: 350px;
     padding-bottom: 10px;
     
}
.text-candiadate{
       margin-left: 300px;
}

#presentation {
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: 2px;
}
#presentation span{
    margin-left: 20px;
}
#presentation q {
    color: skyblue;
}

.bottom-text{
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 3px;
    padding-left: 170px;
}

.footer-text {
    margin-left: 60px;
    font-size: 35px;
	font-weight:  600;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 6s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*a changer pour chaque page du candidat*/

.Acceuil i{
    border-radius: 5px;
  padding:3px;
  background-color: #5d6d89;
}







.main {
    padding-top: 30px;
    padding-left: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recherche {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.offres {
    flex-basis: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #40c61b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.details {
    display: none;
}

.offre-item:hover .details {
    display: block;
}

.accept-btn, .refuse-btn {
    margin-top:5px;
    margin-left:35px;
    background-color: #40c61b; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Rembourrage */
    font-size: 13px; 
    border: 1px solid #40c61b; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; }

